.app__about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem 6rem;
}

.app__about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__about-content-text {
  margin-right: 7rem;
}

.app__about-content-text p,
.app__about-content-text li {
  font-family: var(--font-main);
  color: var(--color-light);
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 1.3rem;
}

.app__about-content-text li {
  list-style: none;
  margin-bottom: 0.5rem;
}

.app__about-content-text span {
  margin-right: 0.7rem;
}

.app__about-content-text span:first-child {
  font-size: 0.75rem;
}

.tech__heading {
  margin-right: 0 !important;
  color: var(--color-sub);
}

.app__about-img img {
  width: 400px;
}

@media screen and (max-width: 1200px) {
  .app__about-content-text {
    margin-right: 5rem;
  }

  .app__about-img img {
    width: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .app__about {
    padding: 4rem;
  }

  .app__about-img img {
    width: 300px;
  }
}

@media screen and (max-width: 850px) {
  .app__about-content {
    flex-direction: column;
  }

  .app__about-content-text {
    margin: 0 0 6rem 0;
  }

  .app__about-img img {
    width: 350px;
  }
}

@media screen and (max-width: 500px) {
  .app__about {
    padding: 4rem 2rem;
  }

  .app__about-content-text p,
  .app__about-content-text li {
    font-size: 1.1rem;
  }

  .app__about-img img {
    width: 300px;
  }
}

@media screen and (min-width: 1700px) {
  .app__about {
    margin: 6rem 8rem;
  }

  .app__about-content-text {
    margin-right: 10rem;
  }

  .app__about-content-text p {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 2rem;
  }

  .app__about-content-text li {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.2rem;
  }

  .tech__heading,
  .app__about-content-text span {
    font-size: 2rem !important;
  }

  .app__about-img img {
    width: 600px;
  }
}
