.app__project {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-right: 3rem;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  margin: 1rem;
}

.app__project:hover {
  box-shadow: 0 0 10px var(--color-sub);
}

.app__project:last-child {
  margin-right: 0rem;
}

.app__project-img img {
  position: relative;
  max-width: 360px;
  max-height: 200px;
  z-index: 5;
}

.app__project-img-overlay {
  position: absolute;
  background-color: var(--color-bg);
  opacity: 0.3;
  width:1440px;
  height: 860px;
  max-width: 360px;
  max-height: 200px;
  z-index: 10;
  transition: 0.3s ease-in-out;
}

.app__project:hover .app__project-img-overlay {
  opacity: 0;
}

.app__project-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 0.5rem 1rem;
}

.app__project-title p {
  font-family: var(--font-main);
  color: var(--color-light);
  font-size: 1rem;
}

@media screen and (max-width: 1050px) {
  .app__project {
    margin-right: 2rem;
  }

  .app__project-title p {
    max-width: 150px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 850px) {
  .app__project {
    margin: 0 0 2rem 0;
  }

  .app__project-title p {
    max-width: 250px;
  }

  .app__project:last-child {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 1700px) {
  .app__project {
    margin-right: 5rem;
  }

  .app__project-img img {
    width: 400px;
  }

  .app__project-title {
    padding: 0.8rem 1.2rem;
  }

  .app__project-title p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 2100px) {
  .app__project-img img {
    width: 500px;
  }

  .app__project-title {
    padding: 1rem 1.5rem;
  }

  .app__project-title p {
    font-size: 1.5rem;
  }
}