.app__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem 6rem;
}

.app__contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__contact-content-text {
  margin-right: 7rem;
}

.app__contact-content-text p {
  font-family: var(--font-main);
  color: var(--color-light);
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}

.app__contact-content-text button {
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  margin-bottom: 1rem;
}

.mail-group {
  margin-bottom: 2rem;
}

.mail {
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  cursor: pointer;
  display: inline;
  transition: 0.3s ease;
}

.mail:hover {
  color: var(--color-sub);
}

.socials {
  color: var(--color-light);
  font-size: 1.3rem;
  margin-right: 1.5rem;
  transition: 0.2s ease-in-out;
}

.socials:hover {
  cursor: pointer;
  color: var(--color-sub);
}

.app__contact-img img {
  width: 375px;
}

@media screen and (max-width: 1200px) {
  .app__contact-content-text {
    margin-right: 5rem;
  }

  .app__contact-img img {
    width: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .app__contact {
    padding: 4rem;
  }

  .app__contact-img img {
    width: 300px;
  }
}

@media screen and (max-width: 850px) {
  .app__contact-content {
    flex-direction: column;
  }

  .app__contact-content-text {
    margin: 0 0 4rem 0;
  }

  .app__contact-img img {
    width: 350px;
  }
}

@media screen and (max-width: 500px) {
  .app__contact {
    padding: 4rem 2rem;
  }

  .app__contact-content-text p {
    font-size: 1.1rem;
  }
  
  .app__contact-img img {
    width: 300px;
  }
}

@media screen and (min-width: 1700px) {
  .app__contact {
    margin: 6rem 8rem;
  }

  .app__contact-content-text {
    margin-right: 10rem;
  }

  .app__contact-content-text p {
    font-size: 2rem;
    line-height: 3rem;
  }

  .app__contact-content-text button {
    font-size: 2rem;
    padding: 1.5rem 3rem;
    margin: 3rem 0 2rem;
  }

  .mail {
    font-size: 1.7rem !important;
    margin-bottom: 4rem !important;
  }

  .socials {
    font-size: 2rem;
    margin-right: 3rem;
  }

  .app__contact-img img {
    width: 600px;
  }
}
