.app__heading {
  margin-bottom: 3rem;
  width: 100%;
}

.app__heading-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.app__heading-main-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.app__heading-main-group p {
  font-family: var(--font-main);
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.75rem;
  font-weight: 500;
  margin-right: 1rem;
}

.app__heading-main-group-line {
  flex-grow: 1;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.app__heading-main-icons {
  display: flex;
}

.app__heading-main-icon {
  color: var(--color-light);
  font-size: 1.5rem;
  margin-left: 1.25rem;
  transition: 0.2s ease-in-out;
}

.app__heading-main-icon:hover {
  color: var(--color-sub);
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .app__heading-main {
    max-width: 60vw;
  }
}

@media screen and (max-width: 600px) {
  .app__heading {
    margin-bottom: 2rem;
  }

  .app__heading-main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .app__heading-main-group p {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .app__heading-main-icon {
    margin: 1rem 1rem 0 0rem;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1700px) {
  .app__heading {
    margin-bottom: 5rem;
  }

  .app__heading-main p {
    font-size: 3.5rem;
  }

  .app__heading-main-icon {
    font-size: 2.75rem;
    margin-left: 2.5rem;
  }
}
