.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  /* transition: all 3s ease; */
}

.modal__overlay {
  position: fixed;
  background: var(--color-bg);
  box-shadow: 0 0 10px var(--color-sub);
  border-radius: 10px;
  z-index: 1000;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 90vh;
  width: 70%;
}

.modal__overlay-close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-family: var(--font-main);
  font-size: 1.5rem;
  color: var(--color-light);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.modal__overlay-close:hover {
  color: var(--color-sub)
}

.modal__overlay-img {
  overflow-y: scroll;
  line-height: 0;
}

.modal__overlay-img img {
  width: 100%;
  height: 100%;
}
