.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modal__overlay {
  position: fixed;
  background: var(--color-bg);
  box-shadow: 0 0 10px var(--color-sub);
  border-radius: 10px;
  z-index: 1000;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  max-height: 90vh;
}

.modal__overlay-close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-family: var(--font-main);
  font-size: 1.5rem;
  color: var(--color-light);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.modal__overlay-close:hover {
  color: var(--color-sub);
}

.modal__overlay-img {
  overflow-y: scroll;
  line-height: 0;
}

.modal__overlay-img img {
  width: 100%;
  height: 100%;
}

.modal__overlay-content {
  overflow-y: scroll;
  padding-right: 1rem;
  width: 100%;
}

.modal__overlay-content::-webkit-scrollbar {
  width: 6px !important;
}

.modal__overlay-content-main {
  width: 100%;
  display: flex;
}

.modal__overlay-content-main img {
  max-width: 420px;
  border: 0.25px solid rgba(255, 255, 255, 0.25);
}

.modal__overlay-content-tech {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  flex-wrap: wrap;
}

.modal__overlay-content-tech span {
  margin-bottom: 2rem;
}

.modal__overlay-content-tech span:last-child {
  margin-bottom: 0;
}

.modal__overlay-content p {
  font-family: var(--font-main);
  color: var(--color-light);
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-top: 2rem;
  padding-right: 1rem;
}

@media screen and (max-width: 1200px) {
  .modal__overlay-content-tech {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 1150px) {
  .modal__overlay {
    padding: 3rem 3rem;
  }

  .modal__overlay-content-main {
    flex-direction: column;
  }

  .modal__overlay-content-tech {
    flex-direction: row;
    justify-content: flex-start;
    margin: 1.5rem 0 0 0;
  }

  .modal__overlay-content-tech span {
    margin: 0rem 1rem 0.5rem 0;
  }

  .modal__overlay-content p {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 850px) {
  .modal__overlay {
    padding: 2rem;
    width: 75%;
  }

  .modal__overlay-content {
    padding-right: 0rem;
  }
}

@media screen and (max-width: 600px) {
  .modal__overlay {
    padding: 1.5rem 1.5rem;
    width: 85%;
    max-height: 75vh;
  }

  .modal__overlay-content p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1700px) {
  .modal__overlay {
    padding: 5rem 7rem;
  }

  .modal__overlay-close {
    font-size: 2.5rem;
    top: 50px;
    right: 50px;
  }

  .modal__overlay-content-main img {
    min-width: 650px;
    border: 0.15rem solid rgba(255, 255, 255, 0.25);
  }

  .modal__overlay-content p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 4rem;
  }
}
