.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 6rem;
  margin-top: 7rem;
}

.app__header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 7rem;
}

.app__header-content p:first-child {
  margin-bottom: 2rem;
}

.app__header-content h1 {
  font-family: var(--font-main);
  color: rgba(255,255,255,0.85);
  /* font-size: 5rem; */
  font-size: 6vw;
  font-weight: 600;
  line-height: 4rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.app__header-content h3 {
  font-family: var(--font-main);
  color: var(--color-light);
  font-weight: 600;
  /* font-size: 3.7rem; */
  font-size: 4.3vw;
  line-height: 3.5rem;
}

.app__header-content-p {
  font-family: var(--font-main);
  color: var(--color-light);
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 2rem 0 3rem;
}

.app__header-content-cta button {
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  margin: 0 2rem 2rem 0;
}

.app__header-img img{
  width: 400px;
}

@media screen and (max-width: 1200px) {
  .app__header-content {
    margin-right: 5rem;
  }
  
  .app__header-img img {
    width: 350px;
  }
}

@media screen and (max-width : 1000px) {
  .app__header {
    padding: 4rem 4rem;
  }
  
  .app__header-content h3 {
    line-height: 3rem;
  }
  
  .app__header-img img {
    width: 300px;
  }
}

@media screen and (max-width : 850px) {
  .app__header {
    flex-direction: column;
  }
  
  .app__header-content {
    margin: 0 0 2rem 0;
  }
  
  .app__header-content h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }
  
  .app__header-content h3 {
    font-size: 3rem;
  }
  
  .app__header-img img {
    width: 350px;
  }
}

@media screen and (max-width: 500px) {
  .app__header {
    padding: 4rem 2rem ;
  }
  
  .app__header-content {
    margin: 4rem 0 5rem;
  }
  
  .app__header-content p:first-child {
    margin-bottom: 0.5rem;
  }
  
  .app__header-content h1 {
    font-size: 2.75rem;
    margin-bottom: 0;
  }
  
  .app__header-content h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  
  .app__header-img img {
    width: 300px;
  }
  
  .app__header-content-p {
    font-size: 1.1rem;
    margin: 1.5rem 0 2.5rem;
  }
  
  .app__header-content-cta button {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .app__header{
    padding: 2rem;;
  }
  
  .app__header-content {
    margin: 2rem 0 5rem;
  }

  .app__header-img img {
    width: 300px;
  }
}

@media screen and (min-width: 1700px) {
  .app__header {
    margin: 6rem 8rem;
    margin-top: 20rem;
  }

  .app__header-content {
    margin-right: 10rem;
  }

  .app__header-content p:first-child
   {
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }

  .app__header-content h1 {
    font-size: 8rem;
    margin-bottom: 4rem;
  }
  
  .app__header-content h3 {
    font-size: 6.5rem;
    line-height: 6rem;
  }

  .app__header-content-p
   {
    font-size: 2rem;
    line-height: 3.5rem;
    margin: 4rem 0 5rem;
  }

  .app__header-content-cta button {
    font-size: 2rem;
    padding: 1.5rem 3rem;
    margin-right: 5rem;
  }

  .app__header-img img{
    width: 600px;
  }
}