* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: unset;
}

.blue-text {
  color: var(--color-sub);
}

.subtext {
  color: var(--color-sub);
  font-family: var(--font-sub);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.border__button {
  border: 1px solid var(--color-sub);
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  font-family: var(--font-sub);
  font-size: 0.85rem;
  color: var(--color-sub);
  background: transparent;
  cursor: pointer;
  transition: 0.2s ease;
}

.border__button:hover {
  background: rgb(7, 20, 39);
}

.color__button {
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border: 1px solid #005c97;
  background: #005c97;
  border-radius: 5px;
  font-family: var(--font-sub);
  font-size: 0.85rem;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.color__button:hover {
  background: rgb(0, 68, 110);
  border: 1px solid rgb(0, 68, 110);
}

@media screen and (min-width: 1700px) {
  .subtext {
    font-size: 1.8rem;
  }
}

.slide-left {
  animation: slide-left 0.3s ease-in-out;
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
