* {
  box-sizing: border-box;
  padding: 0;
  margin : 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  text-decoration: none;
  color: unset
}

.section__padding {
  padding : 4rem 6rem;
}