@import url('https://fonts.googleapis.com/css2?family=Calibre:wght@400;500;600;700&family=SF+Mono:wght@400;500;600;700&display=swap');

:root {
  --font-main: 'Calibre', monospace;
  --font-sub: 'SF Mono', sans-serif;

  --color-bg: #040c18;
  --color-sub: #099fff;
  --color-light: rgba(255, 255, 255, 0.75);
}